*{
    margin: 0;
    padding: 0;
    text-align: center;
}

#div1{
    height: 100px;
    color: white;
    background-color: black;
    line-height: 100px;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: black;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

#message{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

